.customHeader {
	@apply text-center text-3xl font-bold leading-tight md:text-left md:text-3xl md:leading-relaxed lg:text-5xl;
}
.customTitle {
	@apply text-2xl font-bold leading-tight md:text-2xl md:leading-relaxed lg:text-4xl;
}

.homeTabButton {
	@apply relative h-40 w-full rounded-lg border-0 bg-transparent p-3 pl-5 text-left text-wierdBlue;
}

.homeTabButtonActive {
	@apply bg-white text-wierdBlue shadow-2xl;
}

.homeTabButtonActive::after {
	background-color: rgb(0, 199, 229);
	border-radius: 0.3rem 0px 0px 0.3rem;
	bottom: 0px;
	content: "";
	left: 0px;
	position: absolute;
	top: 0px;
	width: 0.5rem;
}

.homeTabButton > div > h3 {
	@apply pb-[4px] font-bold text-wierdBlue;
}
.homeTabButton > div > p {
	@apply py-1 text-sm leading-6 text-wierdBlue;
}

.homeCarouselItem {
	@apply rounded-sm shadow-md hover:shadow-lg;
}

.homeCenterContainer {
	@apply mx-auto max-w-[1140px] px-10 md:px-[5rem] md:pl-[0rem] md:pr-[0rem];
}

.verticalCardsHome {
	@apply z-10 my-7 block rounded-md bg-white p-6 shadow-xl md:my-16 md:grid md:grid-cols-2 md:p-8;
}

.verticalCardsHomeSidetextTitle {
	@apply mb-6 mt-4 block gap-3 md:flex;
}

.verticalCardsHomeSidetextBody {
	@apply mb-6 text-xl leading-8 text-[#091e42];
}

.learnMoreLink {
	@apply text-blue-500;
}

.homeSectionIntro {
	@apply relative order-1 block w-full text-left md:w-[58%];
}

.doMoreCard {
	@apply mb-8 bg-slate-100 p-4;
}

.doMoreCard > div > h2 {
	@apply my-5 text-xl font-bold text-wierdBlue;
}

.doMoreCard > div > p {
	@apply text-sm font-medium leading-7 text-wierdBlue;
}

.doMoreCard > div {
	@apply relative h-52;
}

.doMoreCard > div > button {
	@apply absolute;
}

.priceCompareItem {
	@apply mb-11 flex w-full flex-1 flex-col border-2 bg-white px-4 py-6 md:h-[30rem];
}

.priceCompareItem > :first-child {
	@apply h-[10%] pb-5 text-[1rem] font-semibold;
}

.priceCompareItem > :nth-child(2) {
	@apply h-[10%] text-[1rem] font-semibold;
}

.priceCompareItem > :nth-child(3) {
	@apply h-[3.5rem] text-[0.75rem] font-thin;
}

.priceCompareItem > :nth-child(4) {
	@apply mb-auto font-medium text-wierdBlue;
}

.priceCompareItem > :nth-child(6) {
	@apply font-medium text-blue-500 underline md:py-3;
}

#fakeLink {
	@apply h-12;
}

.priceCompateItemButton {
	@apply my-6 mr-auto border border-cyan-400 text-wierdBlue;
}

.bgImage {
	background-image: url("/trello-left.svg"), url("/trello-right.svg");
	background-size: 368px, 368px;
	background-position:
		left bottom,
		right bottom;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

@media (max-width: 1200px) {
	.bgImage {
		background-size: calc(-232px + 50vw), calc(-232px + 50vw), cover;
	}
}

@media (max-width: 800px) {
	.bgImage {
		background-image: none;
	}
}

.hoverButton {
	@apply rounded-md  dark:hover:backdrop-brightness-150 hover:bg-transparent hover:backdrop-brightness-90;
}

.hoverButtonWithBg {
	@apply hoverButton h-8 rounded-sm bg-gray-100 p-2 text-gray-700 dark:bg-gray-500 dark:bg-opacity-10 dark:text-muted-foreground dark:hover:bg-gray-200 dark:hover:bg-opacity-10;
}

.editWorkspaceForm {
	@apply hover:brightness-0;
}

.opacityGray {
	@apply hover:!bg-gray-400/[.4];
}

.workspaceSidemenuButton {
	@apply w-full font-semibold bg-transparent text-inherit hover:text-inherit dark:text-gray-400 dark:hover:!text-gray-400 dark:hover:!bg-gray-400/20 !rounded-none h-[32px] p-0 pl-[16px] flex flex-row  justify-start;
}

.workspaceHeaderShadButtonDark {
	@apply dark:text-gray-400 dark:hover:!text-gray-400 dark:hover:!bg-gray-400/20;
}
.workspaceHeaderShadButton {
	@apply relative mt-0 block h-[32px] rounded-sm px-2 py-0;
}

.workspaceSidemenuButtonIcon {
	@apply ml-auto mr-2 hoverButton bg-transparent h-[25px] w-[25px] opacityGray !rounded-sm dark:hover:!bg-transparent;
}

.userDropdownThemeSubTrigger {
	@apply relative left-[-1rem] w-[calc(100%+2.1rem)] rounded-none focus:text-primary focus:shadow-blueLeft data-[state=open]:bg-lightBlueBg data-[state=open]:text-primary data-[state=open]:shadow-blueLeft dark:data-[state=open]:bg-accent;
}

.workspaceSidemenuCurrentRouteButton {
	@apply dark:!bg-gray-300/30 dark:hover:!bg-gray-300/20 backdrop-brightness-75 hover:!bg-gray-200;
}

.boardsList {
	width: 23.5%;
	margin-bottom: 2%;
	margin-right: 2%;
}

.boardsList:nth-child(4n) {
	margin-right: 0;
}

@media (max-width: 750px) {
	.boardsList {
		margin-bottom: 8px;
		margin-right: 8px;
		width: calc(50% - 4px);
	}
	.boardsList:nth-child(even) {
		margin-right: 0px;
	}
}

@media (min-width: 751px) and (max-width: 900px) {
	.boardsList {
		margin-bottom: 8px;
		margin-right: 8px;
		width: 32%;
	}
	.boardsList:nth-child(3n) {
		margin-right: 0px;
	}
	.boardsList:nth-child(4n) {
		margin-right: 8px;
	}
}

.centerIcon {
	@apply inline-flex items-center justify-center;
}

.myPopoverContent {
	@apply w-[304px] bg-white dark:bg-popover pb-2 pt-4 px-2 rounded-lg shadow-lg;
}

.myPopoverTitle {
	@apply mb-3 text-center font-medium text-gray-600 text-xs mt-[2px] dark:text-gray-400;
}

.boardProfileListItem {
	@apply cursor-pointer hover:bg-gray-100 mx-[-15px] py-2 px-3 text-sm;
}

.popoverCloseIconButton {
	@apply h-4 w-4 text-gray-600 dark:text-gray-400;
}

.popoverCloseButton {
	@apply hoverButton centerIcon absolute right-[10px] top-[12px] h-[30px] w-[30px] rounded-md;
}
