

.customHeader {
  @apply font-bold lg:text-5xl md:text-3xl leading-tight text-3xl md:leading-relaxed text-center md:text-left;
}
.customTitle{
  @apply font-bold lg:text-4xl md:text-2xl leading-tight text-2xl md:leading-relaxed;
}


.homeTabButton {
  @apply  text-left relative h-40 border-0 rounded-lg  p-3 pl-5 bg-transparent text-wierdBlue
}

.homeTabButtonActive {
  @apply  shadow-2xl bg-white text-wierdBlue
}

.homeTabButtonActive::after{
    background-color: rgb(0, 199, 229);
    border-radius: 0.3rem 0px 0px 0.3rem;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    top: 0px;
    width: 0.5rem;
}

.homeTabButton > div > h3 {
  @apply text-wierdBlue font-bold pb-[4px]
}
.homeTabButton > div > p{
  @apply text-wierdBlue leading-6 font-medium py-1
}



.homeCarouselItem{
  @apply shadow-md rounded-sm
}

.homeCenterContainer{
  @apply md:px-[5rem] px-7 mx-auto md:pl-[1rem] md:pr-[1rem] max-w-[1140px]
}

.verticalCardsHome{
  @apply bg-white z-10 rounded-md md:grid md:grid-cols-2 block md:p-8 md:my-16 shadow-xl p-6 my-7
}

.verticalCardsHomeSidetextTitle{
  @apply block md:flex mb-6 mt-4 gap-3
}

.verticalCardsHomeSidetextBody{
  @apply text-[#091e42] mb-6 text-xl leading-8
}

.learnMoreLink{
  @apply text-blue-500
}

.homeSectionIntro{
  @apply relative text-left order-1 md:w-[58%] w-full block
}

.doMoreCard{
  @apply bg-slate-100 p-4 mb-8
}

.doMoreCard > div >h2{
 @apply font-bold text-xl my-5 text-wierdBlue
}

.doMoreCard > div > p {
  @apply font-medium text-sm text-wierdBlue leading-7
}

.doMoreCard > div{
  @apply h-52 relative
}
.doMoreCard > div > button{
  @apply absolute 
  
}

.priceCompareItem {
  @apply bg-white border-2 w-full md:h-[30rem] px-4 py-6 flex flex-1 flex-col mb-11
}

.priceCompareItem > :first-child{
  @apply h-[10%] font-semibold text-[1rem] pb-5
}

.priceCompareItem > :nth-child(2){
  @apply h-[10%] font-semibold text-[1rem]
}

.priceCompareItem > :nth-child(3){
  @apply font-thin text-[0.75rem] h-[3.5rem]
}

.priceCompareItem > :nth-child(4){
  @apply mb-auto text-wierdBlue font-medium
}
.priceCompareItem > :nth-child(6){
  @apply md:py-3 underline text-blue-500 font-medium
}
#fakeLink{
  @apply h-12
}

.priceCompateItemButton {
  @apply text-wierdBlue border border-cyan-400 my-6 mr-auto
}

